<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <title>Railways_Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet/chatbotUI_style.css' %}" >
    
</head>

<body>
    <h1>Multilingual_Railways_Chatbot</h1>
    <!-- In your HTML template -->
    <script>
        var recordIconUrl = "{% static 'images/start_voice_recording_icon.png' %}";
        var pauseIconUrl = "{% static 'images/stop_voice_recording_icon.png' %}";
        var speakIconUrl = "{% static 'images/speakIcon.png' %}";
        var pauseSpeakIconUrl = "{% static 'images/mute.png' %}";
    </script>
    <script src="{% static 'javascript/chatbot_scripts.js' %}"></script>
        <form method="post" class="container" onsubmit="submitForm(event)">
            <div>{% csrf_token %}
                <label for="language-select">Select Language:</label>
                <select id="language-select">
                    <option value="en">English</option>
                    <option value="hi">Hindi</option>
                    <option value="ur">urdu</option>
                    <option value="mr">Marathi</option>
                    <option value="ta">Tamil</option>
                    <option value="fr">French</option>
                    <option value="it">Italian</option>
                    <option value="ja">Japanese</option>
                    <!-- Add more language options as needed -->
                </select>
            </div>
            <div>{% csrf_token %}
                <label for="user-query">Enter Your Railway's Query</label>
                <textarea id="user-query" name="query" placeholder="Type your query..."></textarea>
                <button id="playPauseButton" onclick="togglePlayPause()" type="button" title="Record/Pause">
                    <img id="iconRecord" src="{% static 'images/start_voice_recording_icon.png' %}" height="40" width="40" alt="">
                </button>
                <button type="submit" class="icon-button">
                    <img src="{% static 'images/send_icon.png' %}" alt="Send Icon" align="right"  height="40" width="40">
                </button>
            </div>
        </form>
        <div>
            <label for="response">Railways Response</label>
            <textarea id="response" name="response" rows="5" cols="40" placeholder="Chatbot response"></textarea>
            <button id="speakPauseButton" onclick="toggleSpeakPause()" type="button" title="Speak/Pause">
                <img id="iconSpeak" src="{% static 'images/speakIcon.png' %}" height="40" width="40" alt="">
                <audio id="audioPlayer">
                    <!-- Add your audio file source here -->
                    <source src="{% static 'audio/' %}" type="audio/wav">  <!-- Replace with the correct audio URL and type -->
                </audio>
            </button>
        </div>
</body>

</html>